
.main-background {
    background-image: url(../../resource/image/shoes.jpg);
    background-size: cover;
    color: white;
    border-radius: 0px;
}

.black-bg {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 5;
    /*z-index : 위치지정요소와(position 속성이 들어간 요소에만 사용가능) 그 자손 혹은 하위 플랙스 아이템의 z축 순서를 지정함 클수록 앞으로 감*/
    /*부트스트랩이 z-index를 1~4까지 쓰기에 5를 설정하면 모든 요소 투과해서 맨 앞이됨*/
    width: 100%;
    height: 100%;

    /*margin-top: -1200px;*/

    display: block; /*나중에 js를 통해 변경*/
    /*visibility: hidden;*/ /*UI 자국이 남으므로 다른 때 씀*/
    /*opacity: 0;*/ /*투명도만 바꾸므로 겹치는 요소가 있을 때는 별로*/

    transition: all 1s;
    transform: translateY(-1200px);
}

.black-trans {
    transform: translateY(0px);
}

.white-bg {
    background: white;
    width: 80%;
    margin: 100px auto; /*top만 100px 나머지는 오토*/
    padding: 20px;
    border-radius: 10px;
    z-index: 5;
}


.nav-menu {
    display: flex;
    justify-content: space-between; /*가운데 간격 제공*/
    padding: 15px;
    align-items: center; /*세로정렬까지*/
}

.nav-sub {
    display: none;
}

.left-menu {
    width: 150px;
    height: 100%;
    background: black;
    position: fixed; /*스크롤을 해도 화면에 고정 + 요소가 붕 뜨게 됨*/
    color: white;

    margin-left: -150px;
}

.slide-box {
    width: 100vw; /*vw단위 : viewport(브라우저) width의 몇 퍼센트 / 호환성은 좀 떨어지나 편리함 */
    float: left;
}

.slide-container {
    width: 300vw; /*3개의 100vw 들을 감싸므로*/
/*    transform: translateX(-100vw);*/
    transition: transform 1s;
}

.slide-trans2 {
    transform: translateX(-100vw);
}

.slide-trans3 {
    transform: translateX(-200vw);
}

.slide-trans1 {
    transform: translateX(0vw);
}

.slide-box img {
    width: 100%;

}

.slide-btn-next {
    position: absolute;

    top: 45%;
    right: 0;

    color: white;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
}

.slide-btn-prev {
    position: absolute; /*relative는 부모에*/

    top: 45%;
    left: 0;

    color: white;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
}
