


.li-inline li { /*li-inline의 모든 li태그에 적용한다는 표현*/
    display: inline-block;
    width: 60px;
    text-align: center;

}

.navbar {
    width: 800px;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px;
}

.li-inline a {
    text-decoration: none;
}

.li-inline a:visited { /*방문한 링크 색 상태 위함*/
    color: black;
}
