
.main-background {
    background-image: url(../../resource/image/shoes.jpg);
    background-size: cover;
    color: white;
    border-radius: 0px;
}

.black-bg {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 5;
    /*z-index : 위치지정요소와(position 속성이 들어간 요소에만 사용가능) 그 자손 혹은 하위 플랙스 아이템의 z축 순서를 지정함 클수록 앞으로 감*/
    /*부트스트랩이 z-index를 1~4까지 쓰기에 5를 설정하면 모든 요소 투과해서 맨 앞이됨*/
    width: 100%;
    height: 100%;

    display: none; /*나중에 js를 통해 변경*/
    /*visibility: hidden;*/ /*UI 자국이 남으므로 다른 때 씀*/
    /*opacity: 0;*/ /*투명도만 바꾸므로 겹치는 요소가 있을 때는 별로*/
}

.white-bg {
    background: white;
    width: 80%;
    margin: 100px auto; /*top만 100px 나머지는 오토*/
    padding: 20px;
    border-radius: 10px;
    z-index: 5;
}


.nav-menu {
    display: flex;
    justify-content: space-between; /*가운데 간격 제공*/
    padding: 15px;
    align-items: center; /*세로정렬까지*/
}

.nav-sub {
    display: none;
}
