div.video-box {
    height: 500px;
    width: 100%;
    overflow: hidden; // 넘치는 부분 자름
    background-color: #eee;

    position: relative;

    video.video-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
    }

    .video-title {
        color: white;
        position: absolute;
        font-size: 30px;
        width: 100%;
        text-align: center;
        top: 20%;
    }
}
