body {
    margin: 0;
}
div {
    box-sizing: border-box;
}

.flex-container {
    display: flex;
}

.content {
    float: left;
    width: 80%;
}

// .sidebar {
//     float: left;

//     background-color: black;
//     color: white;
//     width: 300px;
//     height: 100vh;

//     transform: translateX(-200px);

//     p {
//         margin-top: 20px;
//         padding: 0;
//     }

//     .side-title {
//         transform: translate(75%, 30px);
//     }

//     .side-menu {
//         transform: translate(0, 80px);
//         text-align: center;
//     }

//     &:hover {
//         animation-name: sidebar-ani;
//         animation-duration: 1s;
//         animation-fill-mode: forwards;

//         .side-title {
//             animation-name: side-title-ani;
//             animation-duration: 1s;
//             animation-fill-mode: forwards;
//         }

//         .side-menu {
//             animation-name: side-menu-ani;
//             animation-duration: 1s;
//             animation-fill-mode: forwards;
//         }
//     }
// }

// @keyframes sidebar-ani {
//     100% {
//         transform: translateX(0px);
//     }
// }

// @keyframes side-title-ani {
//     100% {
//         transform: translate(38%, 30px);
//     }
// }

// @keyframes side-menu-ani {
//     100% {
//         transform: translate(-20px, 80px);
//     }
// }

.sidebar {
    width: 300px;
    background: black;
    color: white;
    height: 100vh;
    padding: 25px;
    position: fixed;
    z-index: 5;
    text-align: center;

    transform: translateX(-220px);
    transition: all 1s;

    h4 {
        transform: translate(105px);
        transition: all 1s;
    }

    p {
        transform: translate(-105px);
        transition: all 1s;
    }

    &:hover {
        transform: translate(0px);
        h4{
            transform: translate(0px);
        }
        p {
            transform: translate(0px);
        }
    }
}

.ani-test-box {
    text-align: center;
    font-size: 20px;

    margin: auto;
    margin-top: 30px;
    padding: 10px;

    border-radius: 5px;
    background-color: skyblue;
    color: white;

    width: 100px;

    p {
        padding: 0;
        margin: 0;
    }

    &:hover {
        animation: ani-test;
        animation-duration: 1s;
    }
}

@keyframes ani-test {
    0% {
        transform: translateX(0px);
    }
    33% {
        transform: translateX(-50px);
    }
    66% {
        transform: translateX(50px);
    }
    99% {
        transform: translateX(0px);
    }
}

.ani-test-box2 {
    @extend .ani-test-box;

    background-color: orange;

    &:hover {
        animation-name: ani-test2;
        animation-duration: 1s;
    }
}

@keyframes ani-test2 {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-10deg);
    }
    75% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.ani-test-box3 {
    margin:auto;
    padding: 0;
    text-align: center;
    width: 10px;

    p {
        margin: 0;
        padding: 0;
        font-size: 50px;
        font-weight: bold;
    }

    p:hover {
        animation-name: ani-test3;
        animation-duration: 2s;
        animation-fill-mode: forwards;
    }
}

@keyframes ani-test3 {
    0% {

    }
    20% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(45deg) scale(1.5);
    }

}

// 아래는 위의 것에 대한 강의 참고 답안

.ani-x {
    margin: 0px auto;
    text-align: center;
    font-size: 70px;
    width:84px;
    cursor: pointer;

    padding: 0px;

    transform-origin: 35px 60px;

    &:hover {
        animation-name: ani-x-test;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
}

@keyframes ani-x-test {
    0% { transform: rotate(0deg);}
    25% {transform: rotate(-15deg);}
    100% {transform: rotate(45deg) scale(2);}
}
